{% extends 'base.html' %}
{% load i18n %}
{% block body %}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(/staic/images/banner/banner2.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white pt-5">{{title}}</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href={% url 'index' %}>{% trans "Asosiy" %}</a></li>
                    <li>{{title}}</li>
				</ul>
			</div>
		</div>
		<!--   <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp2">
                <div class="container">
					 <div class='row'>

                        {% for data in page_obj %}
                            <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                                <div class="profile-bx text-center">
                                    <div class="user-profile-thumb">
                                        <img  style='width:100%;height:100%;object-fit:cover;object-position:top' src={{data.image.url}} alt={{data.name}}/>
                                    </div>
                                    <div class="profile-info pb-2">
                                        <h4>{{data.name}}</h4>
                                        <span>{{data.position}}</span><br>
                                        <span>{{data.email}}</span><br/>
                                    </div>

                                </div>
                            </div>
                        {% empty %}
                            {% trans "Hech qanday malumot yo'q" %}
                        {% endfor %}
                     </div>	
                     {% include 'pagination.html' %}				
				</div>
            </div>
            
		</div>
			<!-- Our Status END ==== -->
      
    </div>
    <!-- Content END-->
	{% endblock body %}